#main-navbar {
	height: 40px;

	.navbar-inner {
		border: 0;
		box-shadow: 0 -2px 10px #000000;
		background: @primary-1;
		height: 40px;

		ul.nav > li > a {
			color: #fefefe;
			text-shadow: 0 1px 0 rgba(0,0,0,0.5);
		}
	}


	.current-title {
		color: white;
		font-weight: bold;
		width: 310px;
		height: 18px;
		margin: 3px 5px 0;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.current-progress {
		display: inline-block;
		width: 250px;
		height: 8px;
		margin: 0;
		cursor: pointer;
	}

	.video-time {
		display: inline-block;
		margin: 0 5px 0;
		line-height: 15px;
		font-size: x-small;
		color: #999999;
	}

	.bar-load {
		opacity: 0.3;
	}

	form.navbar-form {
		position: relative;
		padding: 0 10px;
		min-height: 40px;
		max-width: 500px;
		display: block;

		&.open {
			background: rgba(255,255,255, 0.1);
		}

		input.search-query {
			margin-bottom: 5px;
		}

		.close {
			margin-top: 10px;
			font-size: xx-large;
		}

		ul {
			max-height: 500px;
			margin: 0 -10px;
			overflow: auto;
			width: auto;
			background: rgba(255,255,255, 0.8);
		}
	}
}