.horizontal-video-list {
	list-style-type: none;
	margin: 0px;
	padding: 0px;

	li {
		float: left;
		margin: 5px;
		cursor: pointer;
	}
}

.horizontal-video-list li, [video-thumbnail] {
	background: white;
	.shadow(#656565, 5px);
	.height-minus100(4px);

	&:hover {
		.img .buttons {
			display: block;
		}
	}

	&.playing {
		.height-minus100(15px);
		border-bottom: 10px solid @playingColor;
	}

	.img {
		position: relative;
		border: 0;
		width: 200px;
		height: 100%;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: black;
		padding: 0px;

		.title-container {

			max-height: 43px;

			font-size: small;
			color: white;
			font-weight: bold;
			text-align: center;
			background: rgba(0, 0, 0, 0.8);
			line-height: 13px;
			padding: 2px 1px 3px;
			max-height: 2.95em;
			overflow: hidden;
			text-shadow: 0px 0px 3px #000000;
			
		}

		.buttons {
			display: none;
			position: absolute;
			top: 0;
			right: 0;
		}

		.duration {
			position: absolute;
			left: 50%;
			margin-left: -17px;
			bottom: 3px;
			.rounded-corners(2px);
			background: rgba(0, 0, 0, 0.8);
			color: white;
			font-size: x-small;
			padding: 0px 5px;
		}

		.addedBy {
			height: 50px;
			width: 50px;
			position: absolute;
			bottom: 0;
			right: 0;
		}

		.playlist-id {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 20px;
			padding: 5px;
			background: rgba(0,0,0, 0.8);
			-webkit-border-top-right-radius: 3px;
			-moz-border-radius-topright: 3px;
			border-top-right-radius: 3px;
			color: white;
			font-size: x-large;
		}

		&:hover .pId {
			display: none;
		}
	}
}

.vertical-video-list {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 100%;

	li {
		cursor:  pointer;
		margin: 5px 0 0;
		.clear-after();
		width: 100%;

		&.in-playlist {
			display: none;
		}

		&.no-result {
			text-align: center;
			font-size: medium;
			padding-top: 30px;
			cursor: default;

			&:hover {
				background: transparent;
			}
		}

		&:hover {
			background-color: rgba(255,255,255, 0.5);
		}

		.img {
			.shadow(#656565, 3px);
			width: 140px;
			height: 75px;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-color: black;
			float: left;
			background-size: contain;
			margin-right: 10px;

			.length {
				margin: 52px 2px 2px 0px;
				.rounded-corners(2px);
				float: right;
				background: rgba(0, 0, 0, 0.8);
				color: white;
				font-size: x-small;
				padding: 0px 5px;
			}


		}

		.title {
			white-space:nowrap;
		    text-overflow:ellipsis;
		    overflow:hidden;
			font-size: medium;
			font-weight: bold;
		}

		.infos {
			font-size: small;
			font-weight: normal;
		}

		.progress {
			height: 5px;
			margin: 3px 5px 0 0;
			max-width: 200px;
		}
	}
}
