.well.block-padding.col14.coloffset1.row16
	h1 Login to your account

	.alert.alert-error.pull-right(ng-show='authRequiered')
		| The action or content you are trying to access requires anthentification
	
	ul.login-list
		li
			a.facebook(ng-click='facebookLogin()') Login with Facebook
		li.or

		li
			a.facebook(ng-click='facebookLogin()') Login with Facebook
