.row1,
.rowoffset0.row1 {
  top: -webkit-calc(0% + 15px);
  position: absolute;
  bottom: 93.75%;
}
.col1,
.coloffset0.col1 {
  left: -webkit-calc(0% + 15px);
  position: absolute;
  right: 93.75%;
}
.row2,
.rowoffset0.row2 {
  top: -webkit-calc(0% + 15px);
  position: absolute;
  bottom: 87.5%;
}
.col2,
.coloffset0.col2 {
  left: -webkit-calc(0% + 15px);
  position: absolute;
  right: 87.5%;
}
.row3,
.rowoffset0.row3 {
  top: -webkit-calc(0% + 15px);
  position: absolute;
  bottom: 81.25%;
}
.col3,
.coloffset0.col3 {
  left: -webkit-calc(0% + 15px);
  position: absolute;
  right: 81.25%;
}
.row4,
.rowoffset0.row4 {
  top: -webkit-calc(0% + 15px);
  position: absolute;
  bottom: 75%;
}
.col4,
.coloffset0.col4 {
  left: -webkit-calc(0% + 15px);
  position: absolute;
  right: 75%;
}
.row5,
.rowoffset0.row5 {
  top: -webkit-calc(0% + 15px);
  position: absolute;
  bottom: 68.75%;
}
.col5,
.coloffset0.col5 {
  left: -webkit-calc(0% + 15px);
  position: absolute;
  right: 68.75%;
}
.row6,
.rowoffset0.row6 {
  top: -webkit-calc(0% + 15px);
  position: absolute;
  bottom: 62.5%;
}
.col6,
.coloffset0.col6 {
  left: -webkit-calc(0% + 15px);
  position: absolute;
  right: 62.5%;
}
.row7,
.rowoffset0.row7 {
  top: -webkit-calc(0% + 15px);
  position: absolute;
  bottom: 56.25%;
}
.col7,
.coloffset0.col7 {
  left: -webkit-calc(0% + 15px);
  position: absolute;
  right: 56.25%;
}
.row8,
.rowoffset0.row8 {
  top: -webkit-calc(0% + 15px);
  position: absolute;
  bottom: 50%;
}
.col8,
.coloffset0.col8 {
  left: -webkit-calc(0% + 15px);
  position: absolute;
  right: 50%;
}
.row9,
.rowoffset0.row9 {
  top: -webkit-calc(0% + 15px);
  position: absolute;
  bottom: 43.75%;
}
.col9,
.coloffset0.col9 {
  left: -webkit-calc(0% + 15px);
  position: absolute;
  right: 43.75%;
}
.row10,
.rowoffset0.row10 {
  top: -webkit-calc(0% + 15px);
  position: absolute;
  bottom: 37.5%;
}
.col10,
.coloffset0.col10 {
  left: -webkit-calc(0% + 15px);
  position: absolute;
  right: 37.5%;
}
.row11,
.rowoffset0.row11 {
  top: -webkit-calc(0% + 15px);
  position: absolute;
  bottom: 31.25%;
}
.col11,
.coloffset0.col11 {
  left: -webkit-calc(0% + 15px);
  position: absolute;
  right: 31.25%;
}
.row12,
.rowoffset0.row12 {
  top: -webkit-calc(0% + 15px);
  position: absolute;
  bottom: 25%;
}
.col12,
.coloffset0.col12 {
  left: -webkit-calc(0% + 15px);
  position: absolute;
  right: 25%;
}
.row13,
.rowoffset0.row13 {
  top: -webkit-calc(0% + 15px);
  position: absolute;
  bottom: 18.75%;
}
.col13,
.coloffset0.col13 {
  left: -webkit-calc(0% + 15px);
  position: absolute;
  right: 18.75%;
}
.row14,
.rowoffset0.row14 {
  top: -webkit-calc(0% + 15px);
  position: absolute;
  bottom: 12.5%;
}
.col14,
.coloffset0.col14 {
  left: -webkit-calc(0% + 15px);
  position: absolute;
  right: 12.5%;
}
.row15,
.rowoffset0.row15 {
  top: -webkit-calc(0% + 15px);
  position: absolute;
  bottom: 6.25%;
}
.col15,
.coloffset0.col15 {
  left: -webkit-calc(0% + 15px);
  position: absolute;
  right: 6.25%;
}
.row16,
.rowoffset0.row16 {
  top: -webkit-calc(0% + 15px);
  position: absolute;
  bottom: -webkit-calc(0% + 15px);
}
.col16,
.coloffset0.col16 {
  left: -webkit-calc(0% + 15px);
  position: absolute;
  right: -webkit-calc(0% + 15px);
}
.row1.rowoffset1 {
  top: -webkit-calc(6.25% + 15px);
  position: absolute;
  bottom: 87.5%;
}
.col1.coloffset1 {
  left: -webkit-calc(6.25% + 15px);
  position: absolute;
  right: 87.5%;
}
.row2.rowoffset1 {
  top: -webkit-calc(6.25% + 15px);
  position: absolute;
  bottom: 81.25%;
}
.col2.coloffset1 {
  left: -webkit-calc(6.25% + 15px);
  position: absolute;
  right: 81.25%;
}
.row3.rowoffset1 {
  top: -webkit-calc(6.25% + 15px);
  position: absolute;
  bottom: 75%;
}
.col3.coloffset1 {
  left: -webkit-calc(6.25% + 15px);
  position: absolute;
  right: 75%;
}
.row4.rowoffset1 {
  top: -webkit-calc(6.25% + 15px);
  position: absolute;
  bottom: 68.75%;
}
.col4.coloffset1 {
  left: -webkit-calc(6.25% + 15px);
  position: absolute;
  right: 68.75%;
}
.row5.rowoffset1 {
  top: -webkit-calc(6.25% + 15px);
  position: absolute;
  bottom: 62.5%;
}
.col5.coloffset1 {
  left: -webkit-calc(6.25% + 15px);
  position: absolute;
  right: 62.5%;
}
.row6.rowoffset1 {
  top: -webkit-calc(6.25% + 15px);
  position: absolute;
  bottom: 56.25%;
}
.col6.coloffset1 {
  left: -webkit-calc(6.25% + 15px);
  position: absolute;
  right: 56.25%;
}
.row7.rowoffset1 {
  top: -webkit-calc(6.25% + 15px);
  position: absolute;
  bottom: 50%;
}
.col7.coloffset1 {
  left: -webkit-calc(6.25% + 15px);
  position: absolute;
  right: 50%;
}
.row8.rowoffset1 {
  top: -webkit-calc(6.25% + 15px);
  position: absolute;
  bottom: 43.75%;
}
.col8.coloffset1 {
  left: -webkit-calc(6.25% + 15px);
  position: absolute;
  right: 43.75%;
}
.row9.rowoffset1 {
  top: -webkit-calc(6.25% + 15px);
  position: absolute;
  bottom: 37.5%;
}
.col9.coloffset1 {
  left: -webkit-calc(6.25% + 15px);
  position: absolute;
  right: 37.5%;
}
.row10.rowoffset1 {
  top: -webkit-calc(6.25% + 15px);
  position: absolute;
  bottom: 31.25%;
}
.col10.coloffset1 {
  left: -webkit-calc(6.25% + 15px);
  position: absolute;
  right: 31.25%;
}
.row11.rowoffset1 {
  top: -webkit-calc(6.25% + 15px);
  position: absolute;
  bottom: 25%;
}
.col11.coloffset1 {
  left: -webkit-calc(6.25% + 15px);
  position: absolute;
  right: 25%;
}
.row12.rowoffset1 {
  top: -webkit-calc(6.25% + 15px);
  position: absolute;
  bottom: 18.75%;
}
.col12.coloffset1 {
  left: -webkit-calc(6.25% + 15px);
  position: absolute;
  right: 18.75%;
}
.row13.rowoffset1 {
  top: -webkit-calc(6.25% + 15px);
  position: absolute;
  bottom: 12.5%;
}
.col13.coloffset1 {
  left: -webkit-calc(6.25% + 15px);
  position: absolute;
  right: 12.5%;
}
.row14.rowoffset1 {
  top: -webkit-calc(6.25% + 15px);
  position: absolute;
  bottom: 6.25%;
}
.col14.coloffset1 {
  left: -webkit-calc(6.25% + 15px);
  position: absolute;
  right: 6.25%;
}
.row15.rowoffset1 {
  top: -webkit-calc(6.25% + 15px);
  position: absolute;
  bottom: -webkit-calc(0% + 15px);
}
.col15.coloffset1 {
  left: -webkit-calc(6.25% + 15px);
  position: absolute;
  right: -webkit-calc(0% + 15px);
}
.row1.rowoffset2 {
  top: -webkit-calc(12.5% + 15px);
  position: absolute;
  bottom: 81.25%;
}
.col1.coloffset2 {
  left: -webkit-calc(12.5% + 15px);
  position: absolute;
  right: 81.25%;
}
.row2.rowoffset2 {
  top: -webkit-calc(12.5% + 15px);
  position: absolute;
  bottom: 75%;
}
.col2.coloffset2 {
  left: -webkit-calc(12.5% + 15px);
  position: absolute;
  right: 75%;
}
.row3.rowoffset2 {
  top: -webkit-calc(12.5% + 15px);
  position: absolute;
  bottom: 68.75%;
}
.col3.coloffset2 {
  left: -webkit-calc(12.5% + 15px);
  position: absolute;
  right: 68.75%;
}
.row4.rowoffset2 {
  top: -webkit-calc(12.5% + 15px);
  position: absolute;
  bottom: 62.5%;
}
.col4.coloffset2 {
  left: -webkit-calc(12.5% + 15px);
  position: absolute;
  right: 62.5%;
}
.row5.rowoffset2 {
  top: -webkit-calc(12.5% + 15px);
  position: absolute;
  bottom: 56.25%;
}
.col5.coloffset2 {
  left: -webkit-calc(12.5% + 15px);
  position: absolute;
  right: 56.25%;
}
.row6.rowoffset2 {
  top: -webkit-calc(12.5% + 15px);
  position: absolute;
  bottom: 50%;
}
.col6.coloffset2 {
  left: -webkit-calc(12.5% + 15px);
  position: absolute;
  right: 50%;
}
.row7.rowoffset2 {
  top: -webkit-calc(12.5% + 15px);
  position: absolute;
  bottom: 43.75%;
}
.col7.coloffset2 {
  left: -webkit-calc(12.5% + 15px);
  position: absolute;
  right: 43.75%;
}
.row8.rowoffset2 {
  top: -webkit-calc(12.5% + 15px);
  position: absolute;
  bottom: 37.5%;
}
.col8.coloffset2 {
  left: -webkit-calc(12.5% + 15px);
  position: absolute;
  right: 37.5%;
}
.row9.rowoffset2 {
  top: -webkit-calc(12.5% + 15px);
  position: absolute;
  bottom: 31.25%;
}
.col9.coloffset2 {
  left: -webkit-calc(12.5% + 15px);
  position: absolute;
  right: 31.25%;
}
.row10.rowoffset2 {
  top: -webkit-calc(12.5% + 15px);
  position: absolute;
  bottom: 25%;
}
.col10.coloffset2 {
  left: -webkit-calc(12.5% + 15px);
  position: absolute;
  right: 25%;
}
.row11.rowoffset2 {
  top: -webkit-calc(12.5% + 15px);
  position: absolute;
  bottom: 18.75%;
}
.col11.coloffset2 {
  left: -webkit-calc(12.5% + 15px);
  position: absolute;
  right: 18.75%;
}
.row12.rowoffset2 {
  top: -webkit-calc(12.5% + 15px);
  position: absolute;
  bottom: 12.5%;
}
.col12.coloffset2 {
  left: -webkit-calc(12.5% + 15px);
  position: absolute;
  right: 12.5%;
}
.row13.rowoffset2 {
  top: -webkit-calc(12.5% + 15px);
  position: absolute;
  bottom: 6.25%;
}
.col13.coloffset2 {
  left: -webkit-calc(12.5% + 15px);
  position: absolute;
  right: 6.25%;
}
.row14.rowoffset2 {
  top: -webkit-calc(12.5% + 15px);
  position: absolute;
  bottom: -webkit-calc(0% + 15px);
}
.col14.coloffset2 {
  left: -webkit-calc(12.5% + 15px);
  position: absolute;
  right: -webkit-calc(0% + 15px);
}
.row1.rowoffset3 {
  top: -webkit-calc(18.75% + 15px);
  position: absolute;
  bottom: 75%;
}
.col1.coloffset3 {
  left: -webkit-calc(18.75% + 15px);
  position: absolute;
  right: 75%;
}
.row2.rowoffset3 {
  top: -webkit-calc(18.75% + 15px);
  position: absolute;
  bottom: 68.75%;
}
.col2.coloffset3 {
  left: -webkit-calc(18.75% + 15px);
  position: absolute;
  right: 68.75%;
}
.row3.rowoffset3 {
  top: -webkit-calc(18.75% + 15px);
  position: absolute;
  bottom: 62.5%;
}
.col3.coloffset3 {
  left: -webkit-calc(18.75% + 15px);
  position: absolute;
  right: 62.5%;
}
.row4.rowoffset3 {
  top: -webkit-calc(18.75% + 15px);
  position: absolute;
  bottom: 56.25%;
}
.col4.coloffset3 {
  left: -webkit-calc(18.75% + 15px);
  position: absolute;
  right: 56.25%;
}
.row5.rowoffset3 {
  top: -webkit-calc(18.75% + 15px);
  position: absolute;
  bottom: 50%;
}
.col5.coloffset3 {
  left: -webkit-calc(18.75% + 15px);
  position: absolute;
  right: 50%;
}
.row6.rowoffset3 {
  top: -webkit-calc(18.75% + 15px);
  position: absolute;
  bottom: 43.75%;
}
.col6.coloffset3 {
  left: -webkit-calc(18.75% + 15px);
  position: absolute;
  right: 43.75%;
}
.row7.rowoffset3 {
  top: -webkit-calc(18.75% + 15px);
  position: absolute;
  bottom: 37.5%;
}
.col7.coloffset3 {
  left: -webkit-calc(18.75% + 15px);
  position: absolute;
  right: 37.5%;
}
.row8.rowoffset3 {
  top: -webkit-calc(18.75% + 15px);
  position: absolute;
  bottom: 31.25%;
}
.col8.coloffset3 {
  left: -webkit-calc(18.75% + 15px);
  position: absolute;
  right: 31.25%;
}
.row9.rowoffset3 {
  top: -webkit-calc(18.75% + 15px);
  position: absolute;
  bottom: 25%;
}
.col9.coloffset3 {
  left: -webkit-calc(18.75% + 15px);
  position: absolute;
  right: 25%;
}
.row10.rowoffset3 {
  top: -webkit-calc(18.75% + 15px);
  position: absolute;
  bottom: 18.75%;
}
.col10.coloffset3 {
  left: -webkit-calc(18.75% + 15px);
  position: absolute;
  right: 18.75%;
}
.row11.rowoffset3 {
  top: -webkit-calc(18.75% + 15px);
  position: absolute;
  bottom: 12.5%;
}
.col11.coloffset3 {
  left: -webkit-calc(18.75% + 15px);
  position: absolute;
  right: 12.5%;
}
.row12.rowoffset3 {
  top: -webkit-calc(18.75% + 15px);
  position: absolute;
  bottom: 6.25%;
}
.col12.coloffset3 {
  left: -webkit-calc(18.75% + 15px);
  position: absolute;
  right: 6.25%;
}
.row13.rowoffset3 {
  top: -webkit-calc(18.75% + 15px);
  position: absolute;
  bottom: -webkit-calc(0% + 15px);
}
.col13.coloffset3 {
  left: -webkit-calc(18.75% + 15px);
  position: absolute;
  right: -webkit-calc(0% + 15px);
}
.row1.rowoffset4 {
  top: -webkit-calc(25% + 15px);
  position: absolute;
  bottom: 68.75%;
}
.col1.coloffset4 {
  left: -webkit-calc(25% + 15px);
  position: absolute;
  right: 68.75%;
}
.row2.rowoffset4 {
  top: -webkit-calc(25% + 15px);
  position: absolute;
  bottom: 62.5%;
}
.col2.coloffset4 {
  left: -webkit-calc(25% + 15px);
  position: absolute;
  right: 62.5%;
}
.row3.rowoffset4 {
  top: -webkit-calc(25% + 15px);
  position: absolute;
  bottom: 56.25%;
}
.col3.coloffset4 {
  left: -webkit-calc(25% + 15px);
  position: absolute;
  right: 56.25%;
}
.row4.rowoffset4 {
  top: -webkit-calc(25% + 15px);
  position: absolute;
  bottom: 50%;
}
.col4.coloffset4 {
  left: -webkit-calc(25% + 15px);
  position: absolute;
  right: 50%;
}
.row5.rowoffset4 {
  top: -webkit-calc(25% + 15px);
  position: absolute;
  bottom: 43.75%;
}
.col5.coloffset4 {
  left: -webkit-calc(25% + 15px);
  position: absolute;
  right: 43.75%;
}
.row6.rowoffset4 {
  top: -webkit-calc(25% + 15px);
  position: absolute;
  bottom: 37.5%;
}
.col6.coloffset4 {
  left: -webkit-calc(25% + 15px);
  position: absolute;
  right: 37.5%;
}
.row7.rowoffset4 {
  top: -webkit-calc(25% + 15px);
  position: absolute;
  bottom: 31.25%;
}
.col7.coloffset4 {
  left: -webkit-calc(25% + 15px);
  position: absolute;
  right: 31.25%;
}
.row8.rowoffset4 {
  top: -webkit-calc(25% + 15px);
  position: absolute;
  bottom: 25%;
}
.col8.coloffset4 {
  left: -webkit-calc(25% + 15px);
  position: absolute;
  right: 25%;
}
.row9.rowoffset4 {
  top: -webkit-calc(25% + 15px);
  position: absolute;
  bottom: 18.75%;
}
.col9.coloffset4 {
  left: -webkit-calc(25% + 15px);
  position: absolute;
  right: 18.75%;
}
.row10.rowoffset4 {
  top: -webkit-calc(25% + 15px);
  position: absolute;
  bottom: 12.5%;
}
.col10.coloffset4 {
  left: -webkit-calc(25% + 15px);
  position: absolute;
  right: 12.5%;
}
.row11.rowoffset4 {
  top: -webkit-calc(25% + 15px);
  position: absolute;
  bottom: 6.25%;
}
.col11.coloffset4 {
  left: -webkit-calc(25% + 15px);
  position: absolute;
  right: 6.25%;
}
.row12.rowoffset4 {
  top: -webkit-calc(25% + 15px);
  position: absolute;
  bottom: -webkit-calc(0% + 15px);
}
.col12.coloffset4 {
  left: -webkit-calc(25% + 15px);
  position: absolute;
  right: -webkit-calc(0% + 15px);
}
.row1.rowoffset5 {
  top: -webkit-calc(31.25% + 15px);
  position: absolute;
  bottom: 62.5%;
}
.col1.coloffset5 {
  left: -webkit-calc(31.25% + 15px);
  position: absolute;
  right: 62.5%;
}
.row2.rowoffset5 {
  top: -webkit-calc(31.25% + 15px);
  position: absolute;
  bottom: 56.25%;
}
.col2.coloffset5 {
  left: -webkit-calc(31.25% + 15px);
  position: absolute;
  right: 56.25%;
}
.row3.rowoffset5 {
  top: -webkit-calc(31.25% + 15px);
  position: absolute;
  bottom: 50%;
}
.col3.coloffset5 {
  left: -webkit-calc(31.25% + 15px);
  position: absolute;
  right: 50%;
}
.row4.rowoffset5 {
  top: -webkit-calc(31.25% + 15px);
  position: absolute;
  bottom: 43.75%;
}
.col4.coloffset5 {
  left: -webkit-calc(31.25% + 15px);
  position: absolute;
  right: 43.75%;
}
.row5.rowoffset5 {
  top: -webkit-calc(31.25% + 15px);
  position: absolute;
  bottom: 37.5%;
}
.col5.coloffset5 {
  left: -webkit-calc(31.25% + 15px);
  position: absolute;
  right: 37.5%;
}
.row6.rowoffset5 {
  top: -webkit-calc(31.25% + 15px);
  position: absolute;
  bottom: 31.25%;
}
.col6.coloffset5 {
  left: -webkit-calc(31.25% + 15px);
  position: absolute;
  right: 31.25%;
}
.row7.rowoffset5 {
  top: -webkit-calc(31.25% + 15px);
  position: absolute;
  bottom: 25%;
}
.col7.coloffset5 {
  left: -webkit-calc(31.25% + 15px);
  position: absolute;
  right: 25%;
}
.row8.rowoffset5 {
  top: -webkit-calc(31.25% + 15px);
  position: absolute;
  bottom: 18.75%;
}
.col8.coloffset5 {
  left: -webkit-calc(31.25% + 15px);
  position: absolute;
  right: 18.75%;
}
.row9.rowoffset5 {
  top: -webkit-calc(31.25% + 15px);
  position: absolute;
  bottom: 12.5%;
}
.col9.coloffset5 {
  left: -webkit-calc(31.25% + 15px);
  position: absolute;
  right: 12.5%;
}
.row10.rowoffset5 {
  top: -webkit-calc(31.25% + 15px);
  position: absolute;
  bottom: 6.25%;
}
.col10.coloffset5 {
  left: -webkit-calc(31.25% + 15px);
  position: absolute;
  right: 6.25%;
}
.row11.rowoffset5 {
  top: -webkit-calc(31.25% + 15px);
  position: absolute;
  bottom: -webkit-calc(0% + 15px);
}
.col11.coloffset5 {
  left: -webkit-calc(31.25% + 15px);
  position: absolute;
  right: -webkit-calc(0% + 15px);
}
.row1.rowoffset6 {
  top: -webkit-calc(37.5% + 15px);
  position: absolute;
  bottom: 56.25%;
}
.col1.coloffset6 {
  left: -webkit-calc(37.5% + 15px);
  position: absolute;
  right: 56.25%;
}
.row2.rowoffset6 {
  top: -webkit-calc(37.5% + 15px);
  position: absolute;
  bottom: 50%;
}
.col2.coloffset6 {
  left: -webkit-calc(37.5% + 15px);
  position: absolute;
  right: 50%;
}
.row3.rowoffset6 {
  top: -webkit-calc(37.5% + 15px);
  position: absolute;
  bottom: 43.75%;
}
.col3.coloffset6 {
  left: -webkit-calc(37.5% + 15px);
  position: absolute;
  right: 43.75%;
}
.row4.rowoffset6 {
  top: -webkit-calc(37.5% + 15px);
  position: absolute;
  bottom: 37.5%;
}
.col4.coloffset6 {
  left: -webkit-calc(37.5% + 15px);
  position: absolute;
  right: 37.5%;
}
.row5.rowoffset6 {
  top: -webkit-calc(37.5% + 15px);
  position: absolute;
  bottom: 31.25%;
}
.col5.coloffset6 {
  left: -webkit-calc(37.5% + 15px);
  position: absolute;
  right: 31.25%;
}
.row6.rowoffset6 {
  top: -webkit-calc(37.5% + 15px);
  position: absolute;
  bottom: 25%;
}
.col6.coloffset6 {
  left: -webkit-calc(37.5% + 15px);
  position: absolute;
  right: 25%;
}
.row7.rowoffset6 {
  top: -webkit-calc(37.5% + 15px);
  position: absolute;
  bottom: 18.75%;
}
.col7.coloffset6 {
  left: -webkit-calc(37.5% + 15px);
  position: absolute;
  right: 18.75%;
}
.row8.rowoffset6 {
  top: -webkit-calc(37.5% + 15px);
  position: absolute;
  bottom: 12.5%;
}
.col8.coloffset6 {
  left: -webkit-calc(37.5% + 15px);
  position: absolute;
  right: 12.5%;
}
.row9.rowoffset6 {
  top: -webkit-calc(37.5% + 15px);
  position: absolute;
  bottom: 6.25%;
}
.col9.coloffset6 {
  left: -webkit-calc(37.5% + 15px);
  position: absolute;
  right: 6.25%;
}
.row10.rowoffset6 {
  top: -webkit-calc(37.5% + 15px);
  position: absolute;
  bottom: -webkit-calc(0% + 15px);
}
.col10.coloffset6 {
  left: -webkit-calc(37.5% + 15px);
  position: absolute;
  right: -webkit-calc(0% + 15px);
}
.row1.rowoffset7 {
  top: -webkit-calc(43.75% + 15px);
  position: absolute;
  bottom: 50%;
}
.col1.coloffset7 {
  left: -webkit-calc(43.75% + 15px);
  position: absolute;
  right: 50%;
}
.row2.rowoffset7 {
  top: -webkit-calc(43.75% + 15px);
  position: absolute;
  bottom: 43.75%;
}
.col2.coloffset7 {
  left: -webkit-calc(43.75% + 15px);
  position: absolute;
  right: 43.75%;
}
.row3.rowoffset7 {
  top: -webkit-calc(43.75% + 15px);
  position: absolute;
  bottom: 37.5%;
}
.col3.coloffset7 {
  left: -webkit-calc(43.75% + 15px);
  position: absolute;
  right: 37.5%;
}
.row4.rowoffset7 {
  top: -webkit-calc(43.75% + 15px);
  position: absolute;
  bottom: 31.25%;
}
.col4.coloffset7 {
  left: -webkit-calc(43.75% + 15px);
  position: absolute;
  right: 31.25%;
}
.row5.rowoffset7 {
  top: -webkit-calc(43.75% + 15px);
  position: absolute;
  bottom: 25%;
}
.col5.coloffset7 {
  left: -webkit-calc(43.75% + 15px);
  position: absolute;
  right: 25%;
}
.row6.rowoffset7 {
  top: -webkit-calc(43.75% + 15px);
  position: absolute;
  bottom: 18.75%;
}
.col6.coloffset7 {
  left: -webkit-calc(43.75% + 15px);
  position: absolute;
  right: 18.75%;
}
.row7.rowoffset7 {
  top: -webkit-calc(43.75% + 15px);
  position: absolute;
  bottom: 12.5%;
}
.col7.coloffset7 {
  left: -webkit-calc(43.75% + 15px);
  position: absolute;
  right: 12.5%;
}
.row8.rowoffset7 {
  top: -webkit-calc(43.75% + 15px);
  position: absolute;
  bottom: 6.25%;
}
.col8.coloffset7 {
  left: -webkit-calc(43.75% + 15px);
  position: absolute;
  right: 6.25%;
}
.row9.rowoffset7 {
  top: -webkit-calc(43.75% + 15px);
  position: absolute;
  bottom: -webkit-calc(0% + 15px);
}
.col9.coloffset7 {
  left: -webkit-calc(43.75% + 15px);
  position: absolute;
  right: -webkit-calc(0% + 15px);
}
.row1.rowoffset8 {
  top: -webkit-calc(50% + 15px);
  position: absolute;
  bottom: 43.75%;
}
.col1.coloffset8 {
  left: -webkit-calc(50% + 15px);
  position: absolute;
  right: 43.75%;
}
.row2.rowoffset8 {
  top: -webkit-calc(50% + 15px);
  position: absolute;
  bottom: 37.5%;
}
.col2.coloffset8 {
  left: -webkit-calc(50% + 15px);
  position: absolute;
  right: 37.5%;
}
.row3.rowoffset8 {
  top: -webkit-calc(50% + 15px);
  position: absolute;
  bottom: 31.25%;
}
.col3.coloffset8 {
  left: -webkit-calc(50% + 15px);
  position: absolute;
  right: 31.25%;
}
.row4.rowoffset8 {
  top: -webkit-calc(50% + 15px);
  position: absolute;
  bottom: 25%;
}
.col4.coloffset8 {
  left: -webkit-calc(50% + 15px);
  position: absolute;
  right: 25%;
}
.row5.rowoffset8 {
  top: -webkit-calc(50% + 15px);
  position: absolute;
  bottom: 18.75%;
}
.col5.coloffset8 {
  left: -webkit-calc(50% + 15px);
  position: absolute;
  right: 18.75%;
}
.row6.rowoffset8 {
  top: -webkit-calc(50% + 15px);
  position: absolute;
  bottom: 12.5%;
}
.col6.coloffset8 {
  left: -webkit-calc(50% + 15px);
  position: absolute;
  right: 12.5%;
}
.row7.rowoffset8 {
  top: -webkit-calc(50% + 15px);
  position: absolute;
  bottom: 6.25%;
}
.col7.coloffset8 {
  left: -webkit-calc(50% + 15px);
  position: absolute;
  right: 6.25%;
}
.row8.rowoffset8 {
  top: -webkit-calc(50% + 15px);
  position: absolute;
  bottom: -webkit-calc(0% + 15px);
}
.col8.coloffset8 {
  left: -webkit-calc(50% + 15px);
  position: absolute;
  right: -webkit-calc(0% + 15px);
}
.row1.rowoffset9 {
  top: -webkit-calc(56.25% + 15px);
  position: absolute;
  bottom: 37.5%;
}
.col1.coloffset9 {
  left: -webkit-calc(56.25% + 15px);
  position: absolute;
  right: 37.5%;
}
.row2.rowoffset9 {
  top: -webkit-calc(56.25% + 15px);
  position: absolute;
  bottom: 31.25%;
}
.col2.coloffset9 {
  left: -webkit-calc(56.25% + 15px);
  position: absolute;
  right: 31.25%;
}
.row3.rowoffset9 {
  top: -webkit-calc(56.25% + 15px);
  position: absolute;
  bottom: 25%;
}
.col3.coloffset9 {
  left: -webkit-calc(56.25% + 15px);
  position: absolute;
  right: 25%;
}
.row4.rowoffset9 {
  top: -webkit-calc(56.25% + 15px);
  position: absolute;
  bottom: 18.75%;
}
.col4.coloffset9 {
  left: -webkit-calc(56.25% + 15px);
  position: absolute;
  right: 18.75%;
}
.row5.rowoffset9 {
  top: -webkit-calc(56.25% + 15px);
  position: absolute;
  bottom: 12.5%;
}
.col5.coloffset9 {
  left: -webkit-calc(56.25% + 15px);
  position: absolute;
  right: 12.5%;
}
.row6.rowoffset9 {
  top: -webkit-calc(56.25% + 15px);
  position: absolute;
  bottom: 6.25%;
}
.col6.coloffset9 {
  left: -webkit-calc(56.25% + 15px);
  position: absolute;
  right: 6.25%;
}
.row7.rowoffset9 {
  top: -webkit-calc(56.25% + 15px);
  position: absolute;
  bottom: -webkit-calc(0% + 15px);
}
.col7.coloffset9 {
  left: -webkit-calc(56.25% + 15px);
  position: absolute;
  right: -webkit-calc(0% + 15px);
}
.row1.rowoffset10 {
  top: -webkit-calc(62.5% + 15px);
  position: absolute;
  bottom: 31.25%;
}
.col1.coloffset10 {
  left: -webkit-calc(62.5% + 15px);
  position: absolute;
  right: 31.25%;
}
.row2.rowoffset10 {
  top: -webkit-calc(62.5% + 15px);
  position: absolute;
  bottom: 25%;
}
.col2.coloffset10 {
  left: -webkit-calc(62.5% + 15px);
  position: absolute;
  right: 25%;
}
.row3.rowoffset10 {
  top: -webkit-calc(62.5% + 15px);
  position: absolute;
  bottom: 18.75%;
}
.col3.coloffset10 {
  left: -webkit-calc(62.5% + 15px);
  position: absolute;
  right: 18.75%;
}
.row4.rowoffset10 {
  top: -webkit-calc(62.5% + 15px);
  position: absolute;
  bottom: 12.5%;
}
.col4.coloffset10 {
  left: -webkit-calc(62.5% + 15px);
  position: absolute;
  right: 12.5%;
}
.row5.rowoffset10 {
  top: -webkit-calc(62.5% + 15px);
  position: absolute;
  bottom: 6.25%;
}
.col5.coloffset10 {
  left: -webkit-calc(62.5% + 15px);
  position: absolute;
  right: 6.25%;
}
.row6.rowoffset10 {
  top: -webkit-calc(62.5% + 15px);
  position: absolute;
  bottom: -webkit-calc(0% + 15px);
}
.col6.coloffset10 {
  left: -webkit-calc(62.5% + 15px);
  position: absolute;
  right: -webkit-calc(0% + 15px);
}
.row1.rowoffset11 {
  top: -webkit-calc(68.75% + 15px);
  position: absolute;
  bottom: 25%;
}
.col1.coloffset11 {
  left: -webkit-calc(68.75% + 15px);
  position: absolute;
  right: 25%;
}
.row2.rowoffset11 {
  top: -webkit-calc(68.75% + 15px);
  position: absolute;
  bottom: 18.75%;
}
.col2.coloffset11 {
  left: -webkit-calc(68.75% + 15px);
  position: absolute;
  right: 18.75%;
}
.row3.rowoffset11 {
  top: -webkit-calc(68.75% + 15px);
  position: absolute;
  bottom: 12.5%;
}
.col3.coloffset11 {
  left: -webkit-calc(68.75% + 15px);
  position: absolute;
  right: 12.5%;
}
.row4.rowoffset11 {
  top: -webkit-calc(68.75% + 15px);
  position: absolute;
  bottom: 6.25%;
}
.col4.coloffset11 {
  left: -webkit-calc(68.75% + 15px);
  position: absolute;
  right: 6.25%;
}
.row5.rowoffset11 {
  top: -webkit-calc(68.75% + 15px);
  position: absolute;
  bottom: -webkit-calc(0% + 15px);
}
.col5.coloffset11 {
  left: -webkit-calc(68.75% + 15px);
  position: absolute;
  right: -webkit-calc(0% + 15px);
}
.row1.rowoffset12 {
  top: -webkit-calc(75% + 15px);
  position: absolute;
  bottom: 18.75%;
}
.col1.coloffset12 {
  left: -webkit-calc(75% + 15px);
  position: absolute;
  right: 18.75%;
}
.row2.rowoffset12 {
  top: -webkit-calc(75% + 15px);
  position: absolute;
  bottom: 12.5%;
}
.col2.coloffset12 {
  left: -webkit-calc(75% + 15px);
  position: absolute;
  right: 12.5%;
}
.row3.rowoffset12 {
  top: -webkit-calc(75% + 15px);
  position: absolute;
  bottom: 6.25%;
}
.col3.coloffset12 {
  left: -webkit-calc(75% + 15px);
  position: absolute;
  right: 6.25%;
}
.row4.rowoffset12 {
  top: -webkit-calc(75% + 15px);
  position: absolute;
  bottom: -webkit-calc(0% + 15px);
}
.col4.coloffset12 {
  left: -webkit-calc(75% + 15px);
  position: absolute;
  right: -webkit-calc(0% + 15px);
}
.row1.rowoffset13 {
  top: -webkit-calc(81.25% + 15px);
  position: absolute;
  bottom: 12.5%;
}
.col1.coloffset13 {
  left: -webkit-calc(81.25% + 15px);
  position: absolute;
  right: 12.5%;
}
.row2.rowoffset13 {
  top: -webkit-calc(81.25% + 15px);
  position: absolute;
  bottom: 6.25%;
}
.col2.coloffset13 {
  left: -webkit-calc(81.25% + 15px);
  position: absolute;
  right: 6.25%;
}
.row3.rowoffset13 {
  top: -webkit-calc(81.25% + 15px);
  position: absolute;
  bottom: -webkit-calc(0% + 15px);
}
.col3.coloffset13 {
  left: -webkit-calc(81.25% + 15px);
  position: absolute;
  right: -webkit-calc(0% + 15px);
}
.row1.rowoffset14 {
  top: -webkit-calc(87.5% + 15px);
  position: absolute;
  bottom: 6.25%;
}
.col1.coloffset14 {
  left: -webkit-calc(87.5% + 15px);
  position: absolute;
  right: 6.25%;
}
.row2.rowoffset14 {
  top: -webkit-calc(87.5% + 15px);
  position: absolute;
  bottom: -webkit-calc(0% + 15px);
}
.col2.coloffset14 {
  left: -webkit-calc(87.5% + 15px);
  position: absolute;
  right: -webkit-calc(0% + 15px);
}
.row1.rowoffset15 {
  top: -webkit-calc(93.75% + 15px);
  position: absolute;
  bottom: -webkit-calc(0% + 15px);
}
.col1.coloffset15 {
  left: -webkit-calc(93.75% + 15px);
  position: absolute;
  right: -webkit-calc(0% + 15px);
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  background: #CCCCCC;
}
.well {
  padding: 0;
  border: 0;
  -moz-box-shadow: 0px 0px 5px 0px #aaaaaa;
  -webkit-box-shadow: 0px 0px 5px 0px #aaaaaa;
  -o-box-shadow: 0px 0px 5px 0px #aaaaaa;
  box-shadow: 0px 0px 5px 0px #aaaaaa;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
.well > .title {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  margin: 0;
  height: 40px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  line-height: 30px;
  text-shadow: 0px 0px 3px black;
  text-align: center;
  color: white;
  border: 0;
}
.well input.title {
  text-align: left;
}
.nav-tabs {
  margin: 0;
}
.nav-tabs li {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: 0;
  background: #424242;
  height: 40px;
}
.nav-tabs li.active {
  background: #f5f5f5;
}
.nav-tabs li.active a {
  color: #424242;
}
.nav-tabs li a {
  background-color: transparent !important;
  border: 0 !important;
  color: white;
}
hr {
  border-top-color: rgba(0, 0, 0, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.2);
}
.block-content {
  position: relative;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: calc(100% - 40px);
  height: -webkit-calc(100% - 40px);
}
.block-content .no-content {
  width: 100%;
  text-align: center;
  font-size: large;
  position: absolute;
  line-height: 20px;
  top: 50%;
  margin-top: -10px;
}
.block-padding {
  padding: 7px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.horizontal-video-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.horizontal-video-list li {
  margin: 5px;
  float: left;
  cursor: pointer;
  background: white;
  -moz-box-shadow: 0px 0px 5px 0px #656565;
  -webkit-box-shadow: 0px 0px 5px 0px #656565;
  -o-box-shadow: 0px 0px 5px 0px #656565;
  box-shadow: 0px 0px 5px 0px #656565;
  height: calc(100% - 4px);
  height: -webkit-calc(100% - 4px);
}
.horizontal-video-list li:hover .title-container {
  display: none;
}
.horizontal-video-list li:hover .img .buttons {
  display: block;
}
.horizontal-video-list li.playing {
  height: calc(100% - 15px);
  height: -webkit-calc(100% - 15px);
  border-bottom: 10px solid #6fb827;
}
.horizontal-video-list li .img {
  position: relative;
  border: 0;
  width: 200px;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  padding: 0px;
}
.horizontal-video-list li .img .title-container {
  max-height: 43px;
  font-size: small;
  color: white;
  font-weight: bold;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  line-height: 13px;
  padding: 2px 1px 3px;
  max-height: 2.95em;
  overflow: hidden;
  text-shadow: 0px 0px 3px #000000;
}
.horizontal-video-list li .img .buttons {
  display: none;
  float: right;
}
.horizontal-video-list li .img .duration {
  position: absolute;
  right: 3px;
  bottom: 3px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: x-small;
  padding: 0px 5px;
}
.horizontal-video-list li .img .playlist-id {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  color: white;
  font-size: x-large;
}
.horizontal-video-list li .img:hover .pId {
  display: none;
}
.vertical-video-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.vertical-video-list li {
  cursor: pointer;
  margin: 5px 0 0;
  width: 100%;
}
.vertical-video-list li:after {
  content: '';
  display: block;
  clear: both;
}
.vertical-video-list li.in-playlist {
  display: none;
}
.vertical-video-list li.no-result {
  text-align: center;
  font-size: medium;
  padding-top: 30px;
  cursor: default;
}
.vertical-video-list li.no-result:hover {
  background: transparent;
}
.vertical-video-list li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.vertical-video-list li .img {
  -moz-box-shadow: 0px 0px 3px 0px #656565;
  -webkit-box-shadow: 0px 0px 3px 0px #656565;
  -o-box-shadow: 0px 0px 3px 0px #656565;
  box-shadow: 0px 0px 3px 0px #656565;
  width: 140px;
  height: 75px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: black;
  float: left;
  background-size: contain;
  margin-right: 10px;
}
.vertical-video-list li .img .length {
  margin: 52px 2px 2px 0px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  float: right;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: x-small;
  padding: 0px 5px;
}
.vertical-video-list li .img .rating {
  width: 100%;
  height: 3px;
  padding: 0;
  margin: 0;
}
.vertical-video-list li .img .rating div {
  height: 100%;
}
.vertical-video-list li .img .rating .ratingGood {
  background: rgba(57, 224, 27, 0.8);
  float: left;
}
.vertical-video-list li .img .rating .ratingBad {
  background: rgba(224, 27, 27, 0.8);
  float: right;
}
.vertical-video-list li .title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: medium;
  font-weight: bold;
}
.vertical-video-list li .infos {
  font-size: small;
  font-weight: normal;
}
#playlistPosition {
  font-size: xx-large;
  font-weight: normal;
  margin-right: 10px;
  float: left;
  text-align: left;
}
#playlistTime {
  margin-right: 10px;
  float: left;
  text-align: left;
}
#playlist-control {
  position: absolute;
  top: -13px;
  left: 50%;
  margin-left: -50px;
}
#video-info {
  height: 100%;
}
#video-top-infos {
  height: 65px;
}
#video-top-infos hr {
  margin: 10px 0;
}
#video-description {
  height: calc(100% - 65px);
  height: -webkit-calc(100% - 65px);
}
[scrollable] {
  height: 100%;
}
[scrollable]:hover .scrollbar {
  visibility: visible;
}
[scrollable] .viewport {
  overflow: hidden;
  position: relative;
}
[scrollable] .viewport .overview {
  position: absolute;
}
[scrollable] .scrollbar {
  position: relative;
  visibility: hidden;
}
[scrollable] .scrollbar.disable {
  display: none;
}
[scrollable] .scrollbar .track .thumb {
  cursor: pointer;
  position: absolute;
  background-color: #686868;
}
[scrollable='y'] .scrollbar {
  float: right;
  width: 5px;
}
[scrollable='y'] .scrollbar .track {
  height: 100%;
  width: 100%;
}
[scrollable='y'] .scrollbar .track .thumb {
  height: 20px;
  width: 100%;
  top: 0;
}
[scrollable='y'] .viewport {
  height: 100%;
}
[scrollable='y'] .viewport .overview {
  width: 100%;
}
[scrollable='x'] {
  width: 100%;
}
[scrollable='x'] .scrollbar {
  height: 5px;
}
[scrollable='x'] .scrollbar .track {
  height: 100%;
}
[scrollable='x'] .scrollbar .track .thumb {
  width: 20px;
  height: 100%;
  left: 0;
  top: 5px;
}
[scrollable='x'] .viewport {
  height: calc(100% - 10px);
  height: -webkit-calc(100% - 10px);
  width: 100%;
}
[scrollable='x'] .viewport .overview {
  left: 0;
  top: 0;
  height: 100%;
  width: 100000px;
}
[scrollable='x'] .viewport ul.overview {
  padding-right: 30px;
}
#remote [qr-code] {
  height: 100%;
  font-weight: bold;
}
#remote [qr-code] canvas {
  height: 100%;
  float: left;
  margin-right: 5px;
}
