@import url(http://fonts.googleapis.com/css?family=Handlee);

html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	background: #CCCCCC;
}

.well {
	padding: 0;
	border: 0;
	.shadow(#aaa, 5px);
	.rounded-corners(0);
	margin: 0;
	background-color: rgba(255,255,255, 0.5);

	& > .title {
		background-color: rgba(0,0,0, 0.6);
		padding: 5px;
		margin: 0;
		height: @titleHeight;
		.box-sizing();
		width: 100%;

		line-height: @titleHeight - 10px;
		text-shadow: 0px 0px 3px black;
		text-align: center;
		color: white;
		border: 0;

		&.search-youtube {
			background-image: url('/images/yt-favicon.ico');
			background-position: 8px 50%;
			background-repeat: no-repeat;
			padding-left: 30px;
		}
	}

	input.title {
		text-align: left;
	}
	
}

hr {
	border-top-color: rgba(0,0,0,0.1);
	border-bottom-color: rgba(255,255,255,0.2);
}

.block-content {
	position: relative;
	.box-sizing();
	.height-minus100(@titleHeight);

	.no-content {
		width: 100%;
		text-align: center;
		font-size: xx-large;
		position: absolute;
		line-height: 30px;
		top: 50%;
		margin-top: -15px;
		font-family: 'Handlee', cursive;
	}
}

.block-padding {
	padding: 7px;
	.box-sizing();
}


.player-container {
	background-color: black;

	&.hidden {
		visibility: hidden;
	}
}

