
#playlistPosition {
	font-size: xx-large;
	font-weight: normal;
	margin-right: 10px;
	float: left;
	text-align: left;
}

#playlistTime {
	margin-right: 10px;
	float: left;
	text-align: left;
}

#playlist-control {
	position: absolute;
	top: -13px;
	left: 50%;
	margin-left: -50px;
}
