
#playlistPosition {
	font-size: xx-large;
	font-weight: normal;
	margin-right: 10px;
	float: left;
	text-align: left;
}

#playlistTime {
	margin-right: 10px;
	float: left;
	text-align: left;
}

#playlist-control {
	position: absolute;
	top: -13px;
	left: 50%;
	margin-left: -50px;
}

input.playlist-title {
	display: inline-block;
	float: right;
	margin-right: 10px;
	box-shadow: none;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px dashed black;
	background: transparent;
	font-size: large;
	color: white;
	width: auto;

	&:focus {
		box-shadow: none;
		border-color: @playingColor;
	}
}
