#remote {
	text-align: center;

	.qr-container {
		height: 100%;
		max-width: 50%;
		height: 100%;
		display: block;
		float: left;

		qr-code {
			

			&:before {
		  		content: '';
			  display: inline-block;
			  height: 100%;
			  vertical-align: middle;
			}

			* {
				display: inline-block;
				max-height: 100%;
				max-width: 100%;
				vertical-align: middle;
			}
		}
	}
}

.remote-list {
	list-style-type: none;
	padding: 0;
	margin: 0;

	li {
		height: 50px;
		line-height: 50px;
		padding-left: 10px;
	}
}